Flask==2.3.3
requests==2.31.0
pandas==2.1.1
numpy==1.27.4
feedparser==6.0.10
torch==2.1.0
transformers==4.41.0
python-dotenv==1.1.1
python-telegram-bot==20.7
beautifulsoup4==4.12.2
vaderSentiment==3.3.3
